<div id="<%= dom_id customer %>">
 
<tr>
  <td><%= customer.full_name %></td>
  <td><%= customer.email %></td>
  <td><%= customer.phone %></td>
  <td><%= customer.orders.count %></td>
  <td>
    <%= link_to "Show", customer_path(customer), class: "btn btn-primary" %> |
    <%= link_to "Edit", edit_customer_path(customer), class: "btn btn-primary" %> |
    <%= link_to "Delete", customer_path(customer), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
  </td>
</tr>
