<p style="color: green"><%= notice %></p>

<%if @customers.count == 0%>
  <div class="container-fluid rounded-3 text-black-50 p-5 d-flex-col bg-light align-content-center align-items-center align-self-center">
    <h2>Don't leave this space empty...</h2>
    <h4>let's create something amazing!</h4>
  </div>
<% else %>
<h1>Customers</h1>
<div id="customers">

     <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Orders</th>
        <th>Action</th>
      </tr>
      <% @customers.each do |customer| %>
      <tr>
        <td><%=customer.full_name%></td>
        <td><%=customer.orders.count%></td>
        <td>
          <%= link_to "show", customer, class: "btn btn-primary" %>
          <%= link_to "edit", edit_customer_path(customer), class: "btn btn-warning" %>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal-<%= customer.id%>"> 
              delete
            </button>
        </td>
        <%= render partial: "customers/deleteModal", locals: { customer: customer } %>
      </tr>
        <tr>
          <% customer.orders.each do |order|%>
            <tr>
              <td></td>
              <td>
                Order id#
                <%= order.id%>
              </td>
              <td>
                <%= link_to "show", order, class: "btn btn-primary" %>
                <%= link_to "edit", edit_order_path(order), class: "btn btn-warning" %>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal" data-id=<%= order.id.to_s %> data-customer="<%= order.customer.full_name %>" data-productname="<%= order.product_name %>" data-productcount="<%= order.product_count %>">delete</button>
                <%= render partial: "orders/deleteModal", locals: { order: order } %>
              </td>
            </tr>
          <% end %>
        </tr>
        <tr>
          <td></td>
          <td>  
            <%= link_to new_order_path, class: "btn btn-success" do %>
              <%= icon('fa-regular', 'plus') %> add order
            <% end %>
          </td>
          <td></td>
        </tr>
    <%end%>
  </table>   

</div>
<% end %>

