<h1>Customers</h1>
<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Number of Orders</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %> <!-- Loop through the customers -->
      <tr>
        <td><%= customer.full_name %></td>
        <td><%= customer.orders.count %></td> <!-- Display the number of orders the customer has -->
        <td><%= button_to 'Show', customer, method: :get %></td>
        <td><%= button_to 'Edit', edit_customer_path(customer), method: :get %></td>
        <td><%= button_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Customer', new_customer_path %>