<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<div id="customers">
  <% @customers.each do |customer| %>
    <%= render customer %>
    <p>
      <%= link_to "Show this customer", customer %>
      <%= link_to 'Edit', edit_customer_path(customer) %> |
      <%= link_to 'Destroy', customer_path(customer), method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>

<%= link_to "New customer", new_customer_path %>
