<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-group">
      <div class="field">
        <%= form.label :customer_id %> <br>
        <%= form.collection_select :customer_id, Customer.all, :id, :full_name %> <br>
      </div>
      <div class="field mt-2">
        <%= form.label :product_name %> <br>
        <%= form.text_field :product_name %> <br>
      </div>
      <div class="field mt-2">
        <%= form.label :product_count %> <br>
        <%= form.number_field :product_count %> <br>
      </div>

      <div class="actions"> <br>
        <%= form.submit %>
      </div>
    </div>
  </form>
<% end %>