<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :customer_id %>
    <%= form.collection_select :customer_id, Customer.all, :id, :full_name %>
  </div>
  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name %>
  </div>
  <div class="field">
    <%= form.label :product_count %>
    <%= form.number_field :product_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>