<h1 id="orders" class="display-4 text-center my-5 text-muted">Orders</h1>

<div id="orders">
  <div class="row">
    <% if @orders.any? %>
      <% @orders.each do |order| %>        
        <div class="col-sm-6 col-lg-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-header display-5">
                <%= order.product_name %>
              </h5>
              <div>
                <h5 class="card-title ml-5"><%= order.customer.full_name %></h5>
                <p class="card-text">Is buying: <%= order.product_count %> <%= order.product_name %></p>
              </div>
              <hr>
              <div>
                <%= link_to "Show", order, method: :get, class: 'btn btn-primary' %>
                <%= link_to "Edit", edit_order_path(order), method: :get, class: "btn btn-success" %>
                <%= link_to "Delete", order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No orders available.</p>
    <% end %>
  </div>
</div>

<div class="mb-3">
  <%= link_to 'New Order', new_order_path, class: 'btn btn-success' %>
</div>