<!DOCTYPE html>
<html>
  <head>
    <title>R7Additional</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class = "container-fluid">
       <%= yield %>
    </div>

    <% if flash[:alert].present? %>
     <div class="alert alert-danger" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

  <% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
  
  </body>
</html>
